<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Observatoire_2013</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controlleur</display-name>
    <servlet-name>Controlleur</servlet-name>
    <servlet-class>Controlleur.Controlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlleur</servlet-name>
    <url-pattern>/Controlleur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controlleur2</display-name>
    <servlet-name>Controlleur2</servlet-name>
    <servlet-class>controlleur.Controlleur2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlleur2</servlet-name>
    <url-pattern>/Controlleur2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>controlleur.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Users</display-name>
    <servlet-name>Users</servlet-name>
    <servlet-class>controlleur.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlleur.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>controlleur.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>controlleur.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierAncienEtudiant</display-name>
    <servlet-name>ModifierAncienEtudiant</servlet-name>
    <servlet-class>controlleur.ModifierAncienEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierAncienEtudiant</servlet-name>
    <url-pattern>/ModifierAncienEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>controlleur.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>imagetestServlet</display-name>
    <servlet-name>imagetestServlet</servlet-name>
    <servlet-class>controlleur.imagetestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imagetestServlet</servlet-name>
    <url-pattern>/imagetestServlet</url-pattern>
  </servlet-mapping>
</web-app>